@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../node_modules/@fontsource/iosevka/files/iosevka-latin-400-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../../node_modules/@fontsource/iosevka/files/iosevka-latin-600-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../../node_modules/@fontsource/iosevka/files/iosevka-latin-700-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("../../node_modules/@fontsource-variable/inter/files/inter-latin-wght-normal.woff2")
    format("woff2-variations");
}
